{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}

   <h1>Post</h1>

   <ul>
   {% for post in object_list %}
      <li>
         <a href="{% url 'article-detail' post.pk %}">
         {{ post.title }}</a> <br/>
         <small>Category : <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small>
         - {{ post.author.first_name }} {{ post.author.last_name }} 
         
         {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
               - <a href="{% url 'update_post' post.pk %}">[ Edit ]</a>    
               - <a href="{% url 'delete_post' post.pk %}">[ Delete ]</a><br/>      
            {% endif %}
         {% endif %}

         <small>Date : {{ post.post_date }}</small><br/> 
         {{ post.snippet }}
         <!-- {{ post.body|slice:":150"|safe }} -->
      </li>
   {% endfor %}
   </ul>

{% endblock %}